.section-logo {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.logo {
  width: 79%;
  align-items: center;
  justify-content: center;
  display: flex;
  background: transparent;
}
